<h2 mat-dialog-title>Task Details</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Task Title" formControlName="title" />
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Task Description"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Tech Stack" formControlName="tech_stack" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
